@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import "~bootstrap-material-design-icons/css/material-icons.css";


// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

:root{
  font-size: 10px;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
